.vscode/**
.vscode-test/**
.history/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
webview.webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
!src/webview/components/App.tsx
!src/webview/components/ChatView.tsx
!src/webview/components/TestCaseList.tsx
!src/webview/components/AutoDetectToggle.tsx
test.py
